# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Build
dist/
build/
